p
  position: relative
  font-size: 16px;

  &.low-point
    opacity: 0.2

  &.changes
    opacity: 1

    .add
      border-radius: 4px;
      color: #333333;
      padding: 1px 2px;
      background-color: #EAFFEA;
