#bill-diff
  margin-top 10px

  .original,
  .modified
    border solid 1px
    width 49%
    display inline-block
    background #ffffff

    .add
      background #adff2f
    .remove
      background indianred
      color #ffffff