.separator
  height 12px
  background #a9a9a9
  display inline-block
  top 12px
  position relative
  width 38% /*FIXME: this should be fixed with float instead of % width.*/

.hexagon
  background-color  #a9a9a9
  margin-top: 30px;
  height: 104px;
  width: 60px;
  position: relative
  display inline-block

  &:before, &:after
    content: " ";
    border-top: 52px solid transparent;
    border-bottom: 52px solid transparent;
    position absolute

  &:before
    border-right: 30px solid #a9a9a9;
    left -30px

  &:after
    border-left: 30px solid #a9a9a9;
    left 60px

  i.glyphicon
    top: 28px;
    font-size: 48px;
    left: 8px;
    color #ffffff

 /*TODO: small hexagon is for highlight the current step */
.small-hexagon
  -webkit-transform: scale(.8, .8);
  -moz-transform: scale(.8, .8);
  transform: scale(.8, .8);
  background-color  #ffffff
  margin-top: 30px;
  height: 104px;
  width: 60px;
  position: relative
  display inline-block
  right 60px

  &:before, &:after
    content: " ";
    border-top: 52px solid transparent;
    border-bottom: 52px solid transparent;
    position absolute

  &:before
    border-right: 30px solid #ffffff;
    left -30px

  &:after
    border-left: 30px solid #ffffff;
    left 60px

  i.glyphicon
      top: 28px;
      font-size: 48px;
      left: 8px;
