/*TODO: replace with https://github.com/rschmukler/component-stylus-plugin */
@import "./lib/view/styles.styl"

.history
  ol
    display inline-block

    li
      display inline-block
      text-align center

.hide
  display: none;

.historyWrapper
  position: relative;
  margin: 0 50px;
  height: 172px;

  .btn
    background: none repeat scroll 0 0 transparent;
    border: medium none;
    color: #d6d6d6;
    font-size: 35px;
    position: absolute;
    top: 14px;
    cursor: pointer;

    &.btn-left
      left: -43px;

    &.btn-right
      right: -43px;

  .history
    position: relative;
    padding: 0;
    overflow: hidden;

    ol
      background: url("/bill-workflow/images/time_line.jpg") repeat-x scroll center center transparent;
      list-style: none outside none;
      margin: 0;
      padding: 0;
      position: relative;
      width 1900px

      li
        float: left;
        margin: 0;
        padding: 0;

        &.selected > button
          i
            background-position center top

          p
            color: #0099c7;

        & > button
          background: none repeat scroll 0 0 transparent;
          border: medium none;
          cursor: pointer;
          outline: none;
          padding: 0 20px;

          i
            background: url("/bill-workflow/images/hexagon.png") no-repeat scroll center bottom transparent;
            //TODO: replace with .hexagon for have hexagon css class.
            clear: both;
            color: #ffffff;
            display: block;
            font-size: 20px;
            height: 43px;
            line-height: 41px;
            margin: 0 auto;
            text-align: center;
            width: 37px;

          p
            font: 12px/16px 'Helvetica Neue', Arial, Sans-serif;
            color: #bbbbbb;
            margin: 0 0 3px;

          &.title
            font-weight: bold;
            color: #555555;
            margin: 3px 0 0;

      &.disabled > button
        cursor: not-allowed;
        i
          color: #ebebeb;

        p.title
          color: #bbbbbb;

.hexagon
  background-color  grey_background;
  margin-top: 30px;
  height: 104px;
  width: 60px;
  position: relative
  display inline-block

  &:before, &:after
    content: " ";
    border-top: 52px solid transparent;
    border-bottom: 52px solid transparent;
    position absolute

  &:before
    border-right: 30px solid grey_background;
    left -30px

  &:after
    border-left: 30px solid grey_background;
    left 60px

  i
    font-size: 16px;
    color #ffffff
    position relative

  &.selected
    background-color main_blue;

    &:before
      border-right: 30px solid main_blue;

    &:after
      border-left: 30px solid main_blue;