div.item.col-md-4
    div.inner
        a.law-title-link
            h2.law-title {{name}}

        div.author-wrapper {{author}}


        p.description {{description}}

    a(href='#', click-at="{{index}}").btn.btn-block.btn-primary.btn-discuss {{enter}}
