.nav

  .about
      margin 0 auto
      width 50%;

    h1.title
      margin 0 auto
      max-width 250px

    p.content
      padding-bottom 30px
      padding-top 20px
      line-height 1.3em
      font-size 20px

  .item
    min-height: 590px
    display: inline-block

    .inner
      padding: 10px
      background-color: #EBEFF0
      margin-bottom 10px
      min-height 320px;

      .law-title
        overflow: hidden
        text-overflow: ellipsis
        width: 400px
        white-space: nowrap;

      .author-wrapper
         margin 5px 0;

      .proposer
        padding 0 10px

      .description
        display -webkit-box
        overflow: hidden
        text-overflow: ellipsis
        line-height 1.3em
        max-height: 320px