.nav

  .about
    h1.title Bill Tracker
    p.content Track bills as they move through the legislative process. Compare versions and follow changes as they are introduced. This tracker is developed by the
      a(href='http://democracyos.org/') DemocracyOS team
      |  and is open source.
      a(href='https://github.com/DemocracyOS/bill-tracker')  Fork it
      |, try it, improve it.
