.side-view
  padding-bottom: 20px
  position: absolute
  right: 0
  top: 0
  width: 45px
  min-height: 100%
  height: 100%
  left: 462px;

  .side-container
    button
      display: inline

    .text-container
      position: absolute
      background-color: #ffffff
      display: block
      left: 46px
      border-radius: 6px;
      top: 0

      p
        padding: 6px
        margin: 0
        opacity: 1

        .remove
          border-radius: 4px
          color: #333333
          padding: 1px 2px;
          background-color: #FFECEC